@import url(./vendor/fonts/font.css);
@import url(./blocks/page/page.css);

@import url(./blocks/promo/promo.css);
@import url(./blocks/promo/__video/promo__video.css);
@import url(./blocks/promo/__content/promo__content.css);
@import url(./blocks/promo/__heading/promo__heading.css);
@import url(./blocks/promo/__info/promo__info.css);
@import url(./blocks/promo/__list/promo__list.css);
@import url(./blocks/promo/__button/promo__button.css);
@import url(./blocks/promo/__link/promo__link.css);

@import url(./blocks/product/product.css);
@import url(./blocks/product/__container/product__container.css);
@import url(./blocks/product/__list/product__list.css);
@import url(./blocks/product/__card/product__card.css);
@import url(./blocks/product/__image/product__image.css);

@import url(./blocks/comments/comments.css);
@import url(./blocks/comments/__container/comments__container.css);
@import url(./blocks/comments/__card/comments__card.css);
@import url(./blocks/comments/__image/comments__image.css);
@import url(./blocks/comments/__name/comments__name.css);
@import url(./blocks/comments/__text/comments__text.css);
@import url(./blocks/comments/__button/comments__button.css);

@import url(./blocks/new-promo/new-promo.css);
@import url(./blocks/new-promo/__container/new-promo__container.css);
@import url(./blocks/new-promo/__info/new-promo__info.css);
@import url(./blocks/new-promo/__image/new-promo__image.css);
@import url(./blocks/new-promo/__description/new-promo__description.css);
@import url(./blocks/new-promo/__list/new-promo__list.css);
@import url(./blocks/new-promo/__button/new-promo__button.css);

@import url(./blocks/order-form/order-form.css);
@import url(./blocks/order-form/__container/order-form__container.css);
@import url(./blocks/order-form/__heading/order-form__heading.css);
@import url(./blocks/order-form/__card/order-form__card.css);
@import url(./blocks/order-form/__timer/order-form__timer.css);
@import url(./blocks/order-form/__info/order-form__info.css);
@import url(./blocks/order-form/__image/order-form__image.css);
@import url(./blocks/order-form/__text/order-form__text.css);
@import url(./blocks/order-form/__fieldset/order-form__fieldset.css);
@import url(./blocks/order-form/__button/order-form__button.css);
@import url(./blocks/order-form/__link/order-form__link.css);
@import url(./blocks/order-form/__input/order-form__input.css);