@import url(./vendor/fonts/font.css);
@import url(./blocks/page/page.css);

@import url(./blocks/promo/promo.css);
@import url(./blocks/promo/__video/promo__video.css);
@import url(./blocks/promo/__content/promo__content.css);
@import url(./blocks/promo/__heading/promo__heading.css);
@import url(./blocks/promo/__info/promo__info.css);
@import url(./blocks/promo/__list/promo__list.css);
@import url(./blocks/promo/__button/promo__button.css);
@import url(./blocks/promo/__link/promo__link.css);

@import url(./blocks/product/product.css);
@import url(./blocks/product/__container/product__container.css);
@import url(./blocks/product/__list/product__list.css);
@import url(./blocks/product/__card/product__card.css);
@import url(./blocks/product/__image/product__image.css);

@import url(./blocks/comments/comments.css);
@import url(./blocks/comments/__container/comments__container.css);
@import url(./blocks/comments/__card/comments__card.css);
@import url(./blocks/comments/__image/comments__image.css);
@import url(./blocks/comments/__name/comments__name.css);
@import url(./blocks/comments/__text/comments__text.css);
@import url(./blocks/comments/__button/comments__button.css);

@import url(./blocks/new-promo/new-promo.css);

@import url(./blocks/order-form/order-form.css);