.order-form__input {
  padding: 20px 20px;
  border: 2px solid #000000;
  border-radius: 16px;
  font-size: 20px;
}

@media screen and (max-width: 425px){
  .order-form__input  {
    padding: 10px 10px;
    font-size: 12px;
  }
}
