.order-form__fieldset {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: none;
  gap: 60px;
}

@media screen and (max-width: 1190px){
  .order-form__fieldset {
    width: 240px;
  }
}

@media screen and (max-width: 425px){
  .order-form__fieldset  {
    gap: 30px;
  }
}