.new-promo__list {
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 16px auto 0;
  font-size: 24px;
  color: #ffffff;
  list-style: url(../../../images/pensil.svg);
}

@media screen and (max-width: 1000px){
  .new-promo__list {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }
}