.product__image {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
  border-radius: 9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product__image_first {
  background-image: url(../../../images/eurycoma.jpeg);
}

.product__image_second {
  background-image: url(../../../images/ekstrakt.jpeg);
}

.product__image_third {
  background-image: url(../../../images/zinc.jpeg);
}

.product__image_fourth {
  background-image: url(../../../images/damiana.jpeg);
}

.product__image_fifth {
  background-image: url(../../../images/vitaminv6.jpeg);
}

.product__image_sixth {
  background-image: url(../../../images/vitamin-b12.jpeg);
}

@media screen and (max-width: 1340px){
  .product__image {
    width: 100px;
    height: 100px;
  }
}